h1, h2, h3 {
    font-family: HerculanumLT, serif;
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 45px;
    text-align: center;

}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
    margin: 5px 0 0;
}

body {
    width: 100%;
    background-image: url('../img/cocoa-beans-1850312_1920.jpg')
}

.section {
    margin: 25px 0;
    background-color: rgba(255, 128, 0, 0.1);
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,0.3);
    padding: 10px;

}

.section p {
    padding-left: 10px;
}

.main {
    min-width: 300px;
    max-width: 1000px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-image: url(../img/paper-bg.jpg);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.75);
    padding: 20px 7%;
    box-sizing: border-box;
    border: thin solid chocolate;
}

.logo {
    display:block;
    margin-right:auto;
    margin-left: auto;
    width: 20%;
}